<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>NodeJS Chat</title>
</head>
<body>
    <div id="app">
        <div class="chat">
            <div class="chat-users collection">
                <a
                    class="collection-item d-flex indigo lighten-2 white-text"
                    v-for="u in users"
                    :class="{'active': u.id === user.id}"
                >
                    <div>
                        <img src="https://img.icons8.com/bubbles/45/000000/check-male.png">
                    </div>
                    <div>{{u.name}}</div>
                </a>
            </div>
            <div class="chat-messages" ref="messages">
                <chat-message
                        v-for="(m, idx) in messages"
                        :class="{'owner': m === 3}"
                        :message="m"
                        :user="user"
                        :key="idx"
                ></chat-message>
            </div>
        </div>
        <div class="actions">
            <div class="input-field">
                <input
                        type="text"
                        placeholder="Type your message ..."
                        v-model.trim="message"
                        autofocus
                        autocomplete="false"
                        @keydown.enter="sendMessage"
                >
            </div>
            <button
                    class="btn indigo lighten-2 z-depth-2 d-flex"
                    @click="sendMessage"
                    :disabled="message.length === 0"
            >
                <img src="https://img.icons8.com/doodle/30/000000/mail-with-wings.png" class="mr-10">
                Send</button>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/app.js"></script>
</body>
</html>
